<h1> <%= @blog.title %> </h1>
<p> <%= @blog.content %></p>
<br>
<p><%= link_to 'Edit Blog', edit_blog_path(@blog)%></p>
<button><%= link_to 'Delete Blog', delete_blog_path, :method => :delete %></button>
<p><%= link_to 'Return to Home Page', blogs_path %></p>

